/* 

    TEXT #000000 -->Black
    BLUE LINKS #0000ee -->Blue
    NOT SURE #808080 -->Grey
    ACME ROCKET #990033 -->Marron
    NAV BAR #de2226 -->Red
    WHITE #ffffff -->White


*/

/*--FONTS--*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Meera+Inimai&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    background: #ffffff;
    margin: 0 auto;
    max-width: 960px;
    height: auto;
}

/*--HEADER--*/
    /*--LOGO AND LOGIN--*/
#logo{
    height: auto;
    width: 120px;
}
#account{
    height: auto;
    width: 25px;
}

.header{
    overflow: hidden;
    padding: 10px 10px;
    height: 25%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.header-left{
    float: left;
    width: 50%;
}

.header-right a{
    float: right;
    padding: 12px;
    padding-top: 25px;
    text-decoration: none;
    font-size: 18px; 
}

.header-right a:visited{
    color: black;
}

.header-right a:link{
    color: black;
}
.header-left a{
    float: left;
    text-align: left;
    padding: 12px;
    padding-left: 0px;
}

.header-right{
    float: right;
    width: 50%;
}


/*--NAVIGATION*/
.navigation {
    background: #de2226;
    display:flex;
    font-family: 'Meera Inimai', sans-serif;
    justify-content:flex-start;
    list-style: none;
    margin: 0;
    padding: inherit;
}

.navigation li{
    font-size: 20px;
/*    float: left;*/
}

.navigation a{
    
    color: #ffffff;
    display: block;
    padding: 0.8em;
    text-decoration: none;
}


@media (max-width: 500px){
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

}

.navigation li:hover{
    background: #ffffff;
    
}

.navigation a:hover{
    color:#de2226;
}


/*--HEADINGS (H1, H2, H3)--*/

h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 10px;
    margin-bottom: -3px
}

h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
}

/*--FOOTER--*/

/*--COYOTE ROCKET CONTENT*/

.coyoterocket{
   padding: 10px 10px;
    
}
.coyoterocket ul{
    color: #de2226;
    text-align: left;
    padding: 0;
}

.iwantit{
}

.coyoterocket ul{
    list-style: none;
}


main{
    overflow: hidden;
    padding: 10px 10px;    
}

.coyotecontainer{
}
    
.coyoteimage{
    max-height: 100%;
    max-width: 100%;
}

/*---SECTIONS--*/
    /*CREATES TWO COLUMNS*/
.column{
    float: left;
    height: 300px;
    overflow: hidden;
    padding: 10px 20PX;
    width: 50%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}


/*FOOTER*/
footer{
    background: #ffffff;
    border-top: solid 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 8px;
    text-align: center;
}
