/* 

    TEXT #000000 -->Black
    BLUE LINKS #0000ee -->Blue
    NOT SURE #808080 -->Grey
    ACME ROCKET #990033 -->Marron
    NAV BAR #de2226 -->Red
    WHITE #ffffff -->White


*/

/*--FONTS--*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Meera+Inimai&display=swap');



/*--ALL AND BODY----------------------------------*/
*{
    box-sizing: border-box;
}

body{
    background-image: url(../images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    background: #ffffff;
    margin: 0 auto;
    max-width: 960px;
    height: auto;
}

/*--HEADER-----------------------------------------*/
    /*--LOGO AND LOGIN--*/
#logo{
    height: auto;
    width: 120px;
}
#account{
    height: auto;
    width: 25px;
}

.header{
    overflow: hidden;
    padding: 10px 10px;
    height: 25%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.header-left{
    float: left;
    width: 50%;
}

.header-right a{
    float: right;
    padding: 12px;
    padding-top: 25px;
    text-decoration: none;
    font-size: 18px; 
}

.header-right a:visited{
    color: black;
}

.header-right a:link{
    color: black;
}

.header-left a{
    float: left;
    text-align: left;
    padding: 12px;
    padding-left: 0px;
}

.header-right{
    float: right;
    width: 50%;
}


/*--NAVIGATION------------------------------------*/
.navigation {
    background: #de2226;
    display:flex;
    font-family: 'Meera Inimai', sans-serif;
    justify-content:flex-start;
    list-style: none;
    margin: 0;
    padding: inherit;
}

.navigation li{
    font-size: 20px;
}

.navigation a{
    
    color: #ffffff;
    display: block;
    padding: 0.8em;
    text-decoration: none;
}


@media (max-width: 500px){
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
}

.navigation li:hover{
    background: #ffffff;
}

.navigation a:hover{
    color:#de2226;
}


/*--HEADINGS (H1, H2, H3)--*/

h1{
    font-size: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: -10px 10px -3px 10px;
}

h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
}

h3{
    font-weight: black;
}

/*--MAIN AND COYOTE ROCKET CONTENT--------------*/

.coyoterocket{
   padding: 10px 10px;
    position: relative;
    
}
.coyoterocket ul{
    font-size: 150%;
    color: #de2226;
    text-align: left;
    padding: 0;
}

.iwantit{
}

.coyoterocket ul{
    list-style: none;
}

.coyotetext-block{
    position: absolute;
    top: 25px;
    right: 25px;
}

@media only screen and (max-width: 600px){
    .coyotetext-block{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .coyoterocket ul{
        font-size: 110%;
    }
    
    .iwantit{
        width: 100%;
        height: auto;
    }

}

main{
    overflow: hidden;
    padding: 10px 10px;    
}

.coyotecontainer{
}
    
.coyoteimage{
    height: auto;
    width: 100%;
}

/*--SECTIONS----------------------------*/
    /*CREATES TWO COLUMNS*/
.column{
    float: left;
    height: 300px;
    overflow: hidden;
    padding: 10px 20PX;
    width: 50%;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

table figcaption a{
    font-size: 14px;
    text-decoration: none;
}


/*--FOOTER------------------------------*/
footer{
    background: #ffffff;
    border-top: solid 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 8px;
    text-align: center;
}
